<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>        
      </ion-buttons>      
      <ion-title>
        Instruções para o Teste
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-slides class="slides-wrapper" pager="true" color="secondary">
      <ion-slide class="instr-slide">
        <h1 class="slide-title">Função do teste</h1>       
        <p>
          O teste dos nove buracos e pinos detecta alterações em suas habilidades
          motoras nos membros superiores, avaliado sua destreza manual.
        </p>
        <p>
            Siga os passos nos próximos slides >> 
        </p>
      </ion-slide>
      <ion-slide class="instr-slide">
        <h1 class="big-number">1˚</h1>            
        <p>
          Você realizará o teste 2 (duas) vezes consecutivas com cada uma de
          suas mãos. Inicie com a sua mão dominante (direita, se você for
          destro e esquerda se você for canhoto).             
        </p>
        <p>
          Concentre-se e evite falar durante a execução do teste.
        </p>
      </ion-slide>
      <ion-slide class="instr-slide">
        <h1 class="big-number">2˚</h1>
        <p>
          Certifique-se de que você esteja em um ambiente tranquilo, sentado e
          que o tabuleiro esteja posicionado a sua frente com os pinos sobre a
          região circular do tabuleiro voltados para o lado de sua mão que será
          testada.
        </p>
      </ion-slide>
      <ion-slide class="instr-slide">
        <h1 class="big-number">3˚</h1>
        <p>
          Você deverá pegar 1 (um) pino de cada vez, utilizando somente uma
          mão, e colocá-lo em um dos 9 (nove) orifícios do tabuleiro, em
          qualquer ordem, o mais rápido que conseguir.
        </p>
      </ion-slide>
      <ion-slide class="instr-slide">
        <h1 class="big-number">4˚</h1>                   
        <p>
          Sem pausar, remova 1 (um) pino de cada vez, utilizando somente a
          mesma mão, e o devolva à superfície metálica circular do tabuleiro o
          mais rápido que conseguir.
        </p>
      </ion-slide>
      <ion-slide class="instr-slide">
        <h1 class="big-number">5˚</h1>                   
        <p>
          Siga as instruções anteriores e repita o teste com a sua mão
          dominante e, depois faça o mesmo 2 (vezes) com a sua outra mão.
          Lembre-se apenas de inverter a posição do tabuleiro quando trocar de
          mão.
        </p>
      </ion-slide>
      <ion-slide class="instr-slide">
        <h1 class="big-number">6˚</h1>                   
        <p>
          Caso algum pino caia fora do tabuleiro, prossiga com o teste
          normalmente. O tabuleiro é equipado com 12 (doze) pinos e, portanto,
          existem 3 (três) pinos extras.
        </p>
      </ion-slide>
    
    </ion-slides>
</ion-content>

<!-- INSTRUÇÕES DE REALIZAÇÃO:
FUNÇÃO DO TESTE
O teste dos nove buracos e pinos detecta alterações em suas habilidades
motoras nos membros superiores, avaliado sua destreza manual. [1]
PASSO A PASSO
1. Você realizará o teste 2 (duas) vezes consecutivas com cada uma de
suas mãos. Inicie com a sua mão dominante (direita, se você for
destro e esquerda se você for canhoto).
Concentre-se e evite falar durante a execução do teste.
2. Certifique-se de que você esteja em um ambiente tranquilo, sentado e
que o tabuleiro esteja posicionado a sua frente com os pinos sobre a
região circular do tabuleiro voltados para o lado de sua mão que será
testada.
3. Você deverá pegar 1 (um) pino de cada vez, utilizando somente uma
mão, e colocá-lo em um dos 9 (nove) orifícios do tabuleiro, em
qualquer ordem, o mais rápido que conseguir.
Faça isso até os 9 (nove) orifícios estarem ocupados.
4. Sem pausar, remova 1 (um) pino de cada vez, utilizando somente a
mesma mão, e o devolva à superfície metálica circular do tabuleiro o
mais rápido que conseguir.
5. Siga as instruções anteriores e repita o teste com a sua mão
dominante e, depois faça o mesmo 2 (vezes) com a sua outra mão.
Lembre-se apenas de inverter a posição do tabuleiro quando trocar de
mão.
Durante o teste você pode segurar o tabuleiro com a sua outra mão.
6. Caso algum pino caia fora do tabuleiro, prossiga com o teste
normalmente. O tabuleiro é equipado com 12 (doze) pinos e, portanto,
existem 3 (três) pinos extras.
Caso a situação descrita acima ocorra mais de 3 (três) vezes, se o
pino cair fora do tabuleiro sobre a mesa, recupere-o e prossiga com o
teste normalmente. Caso caia no chão, reinicie o teste. -->