.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-list {
  box-shadow: 0 -4px 16px #0cd1e8AA;
  margin-top: 1.6rem;
}
.toolbar-background {
  background-color: #0bb8cc;
  color: white;
}
