<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-icon slot="start" color="secondary" name="cloud"></ion-icon> -->
    <ion-title>
      EMconexão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
    <ion-card *ngIf="user.type === 'doctor'" class="welcome-card">
      <ion-img src="/assets/doctor.jpg"></ion-img>    
      <ion-card-header>
        <ion-card-subtitle>Esclerose Múltipla - Acompanhamento de perto, detecção no tempo certo</ion-card-subtitle>
        <ion-card-title>Você pode ajudar!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
            Esse aplicativo foi feito para você conseguir acompanhar de perto seus pacientes com esclerose múltipla (EM). 
            <br>
            Você pode consultar os resultados de realização do teste dos nove buracos e pinos (9-HPT) pelos seus pacientes. Além disso, você é alertado caso seja detectada uma piora significativa na destreza motora de algum paciente e você pode enviar mensagens para os pacientes.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="user.type === 'patient'" class="welcome-card">
      <ion-img src="/assets/doctor2.jpeg"></ion-img>
      <ion-card-header>                                      
        <ion-card-subtitle>Esclerose Múltipla - Acompanhamento de perto, detecção no tempo certo</ion-card-subtitle>
        <ion-card-title>Nós podemos ajudar!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Esse aplicativo foi feito para que você seja empoderado a acompanhar a evolução do seu quadro de esclerose múltipla (EM). 
          <br>
          Aqui você pode realizar o teste dos nove buracos e pinos (9-HPT), monitorando de perto como está sua destreza motora. Além disso, você pode registrar as datas de suas consultas médicas e obter mais informações sobre a EM.
        </p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let item of data">{{ item }}</div> 
    <ion-list *ngIf="user.type === 'doctor'">    
      <ion-item routerLink="/results">
        <ion-icon slot="start" color="secondary" name="analytics"></ion-icon>
        <ion-label>Análise Geral</ion-label>
      </ion-item>
      <ion-item routerLink="/patients">
        <ion-icon slot="start" color="secondary" name="contacts"></ion-icon>
        <ion-label>Lista de pacientes</ion-label>
      </ion-item>       
    </ion-list>
    <ion-list *ngIf="user.type === 'patient'">
      <ion-list-header>        
        <ion-label>Escolha uma ação</ion-label>        
      </ion-list-header>      
      <ion-item routerLink="/instructions">
        <ion-icon slot="start" color="secondary" name="book"></ion-icon>
        <ion-label>Instruções Para o Teste</ion-label>
      </ion-item>      
      <ion-item routerLink="/results">
        <ion-icon slot="start" color="secondary" name="analytics"></ion-icon>
        <ion-label>Seu Histórico</ion-label>
      </ion-item> 
      <ion-item>
        <ion-icon slot="start" color="secondary" name="school"></ion-icon>
        <ion-label>Saber Mais sobre a doença</ion-label>
      </ion-item>           
    </ion-list>
</ion-content>
